.buton {
 color: rgb(8, 253, 216);
 background-color: transparent;
 border-radius: 0;
 border: 1px solid rgb(8, 253, 216);
 font-size: 20px;
 font-weight: 300;
 min-width: 100px;
 text-align: center;
}
.buton a {
 min-width: 100%;
 font-size: 20px;
 color: rgb(8, 253, 216);
 font-weight: 300;
}
.buton a:hover {
 background-color: transparent;
 color: #000;
}
.buton:hover {
 color: black;
 animation: color 200s ease-in;
 animation-iteration-count: 1;
}
.buton:disabled {
 color: rgb(70, 70, 70);
}
.buton[disabled]:hover {
 background-color: rgb(70, 70, 70);
}

@keyframes color {
 0% {
  background-color: transparent;
  color: rgb(8, 253, 216);
 }

 1% {
  color: black;
  background-color: rgb(8, 253, 216);
 }

 100% {
  color: black;
  background-color: rgb(8, 253, 216);
 }
}
