.form-control {
 border-radius: 0;
 border: 1px solid hsla(230,40%,50%,1);
 background-color: transparent;
 color:white;
}
.error-text {
 text-align: start;
 color:rgb(253, 33, 85);
}
.form-control__invalid {
 border: 2px solid rgb(253, 33, 85);
 color: rgb(253, 33, 85);
 
}
.form-control:focus {
 outline: none;
 background-color: transparent;
 border: 2px solid hsla(230,40%,50%,1);
 box-shadow: none;
 color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(26, 27, 30) inset !important;
    -webkit-text-fill-color: white !important;
}