.footer {
 width: 12hv;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 padding: 0;
 display: inline-flex;
}
.contact-icon {
 height: max-content;
 font-size: small;
 margin-top: 20px;
 margin-right: 10px;
 margin-left: auto;
}
.footer-span {
 color: rgb(253, 33, 85);
}
.footer .col {
 height: 25vh;
 padding: 0px 0px;
 margin: 0;
 flex-wrap: nowrap;
 display: flex;
 align-items: center;
 justify-content: center;
}
