a {
 text-align: center;
 color: white;
 font-size: 0.85rem;
 text-decoration: none;
 line-height: 40px;
}

a:hover {
 font-size: 0.9rem;
 text-align: center;
 color: rgb(253, 33, 85);
 text-decoration: none;
}

li.nav-item {
 border-bottom: 0.1px solid rgb(29, 29, 29);
 margin-top: 3px;
 font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* .my-node-enter {
 opacity: 0;
}
.my-node-enter-active {
 opacity: 1;
 transition: opacity 200ms;
}
.my-node-exit {
 opacity: 1;
}
.my-node-exit-active {
 opacity: 0;
 transition: opacity 200ms;
} */
