.info-container {
 margin: 0;
 width: 100%;
 height:100vh;
 box-sizing: border-box;
 display: flex;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap;
}
.info-container .col {
 align-items: center;
 display: flex;
}

.info-container .row {
 justify-content: center;
 align-items: center;
}


.info-paragraph {
    color: white;
    font-family: 'Righteous', serif;
    font-size: 1.5em; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
.info-with-color {
 color:rgb(69, 83, 155);
 font-weight: 200;
}
.info-container .col-sm-6 {
 padding: 0;
 margin: 0;
}
.info-container .col-8 {
 padding: 0;
 margin-bottom: 50px;
 transition: transform 1s;
}
@import url(https://fonts.googleapis.com/css?family=Righteous);

.dang h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 10vw; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
    }
    h1:after {
      content: attr(data-shadow);
      position: absolute;
      top: .06em; left: .06em;
      z-index: -1;
      text-shadow: none;
      background-image:
        linear-gradient(
          45deg,
          transparent 45%,
          hsla(48,20%,90%,1) 45%,
          hsla(48,20%,90%,1) 55%,
          transparent 0
          );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }
  
  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }
