#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .dang {
    align-self: start;
    margin-bottom: 1em;
  }
}
#blog h2,
a {
  color: #00e3b3;
}
