#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .dang {
    align-self: start;
    margin-bottom: 0;
  }
  & li {
    margin-bottom: 2em;
  }
}
#blog h2,
a {
  color: #00e3b3;
  font-weight: 600;
  letter-spacing: 01px;
}

#blog h3 {
  font-weight: 500;
}

#dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
}
#dashboard h2 {
  color: #00e3b3;
}
#dashboard .message {
  font-size: 16px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-weight: 200;
}
#dashboard li {
  margin-bottom: 3em;
}

#dashboard button {
  padding: 1em 4em;
  background-color: #00e3b3;
  /* border: 1px solid ; */
  font-size: 20px;
  margin-top: 1em;
  color: #fff;
  display: block;
}

#dashboard input {
  padding: 1em 3em;
  background-color: transparent;
  border: 1px solid #00e3b3;
  font-size: 20px;
  color: #00e3b3;
  display: block;
}
#dashboard input::placeholder {
  font-size: 20px;
  color: #b5d6cf;
}

#dashboard form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}
