.form-container {
 height: 100vh;
 max-width: 80%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 margin: 0 50px;
}

.form {
 width: 100%;
 max-width: 80%;
 margin-left: 10%;
}

.form-button {
 text-align: end;
}

.parent {
 display: inline-flex;
 min-width: 20px;
 font-size: 6vw;
}
.parent:hover .animate {
 color: white;
 font-size: 6vw;
 font-weight: 700;
 color: rgb(253, 33, 85);
 transform: translate3d(2px, -2px, 0);
}
.contact-paragraph {
 margin-right: auto;
 text-align: start;
 color: rgb(8, 253, 216);
 margin-left: 10%;
}
.form-container {
 text-align: start;
 color: white;
 margin-left: 15%;
}
.contact-message {
 text-align: start;
 color: white;
 margin-left: 10%;
}
