@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Whisper&display=swap");
#contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  color: white;
  margin: auto 5vh;
}
input {
  background-color: transparent;
}
.html-snippets {
  color: rgb(70, 70, 70);
  font-size: 2rem;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-family: "Whisper", cursive;
}

.form-button {
  text-align: end;
  box-sizing: border-box;
}

#contact h1 {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  /* text-shadow: 0.05em 0.04em 0 #00e3b3; */
}

.contact-message {
  color: white;
  font-family: "Righteous", serif;
  font-size: 1.5em;
  font-weight: 500;
  max-width: 600px;
  /* text-shadow: 0.03em 0.03em 0 #00e3b3; */
}
.spinner-div {
  display: flex;
  justify-content: flex-end;
}

.modal-body p {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
