#contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  color: white;
  padding: 5vh 20vw;
}
input {
  background-color: transparent;
}
.html-snippets {
  color: rgb(70, 70, 70);
  font-size: 1rem;
  margin-bottom: 0;
  font-family: "Corinthia", cursive;
}

.form {
  width: 100%;
}

.form-button {
  text-align: end;
  box-sizing: border-box;
}

.dang-contact h1 {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  font-size: 5vw;
  /* text-shadow: 0.05em 0.04em 0 #00e3b3; */
}

.contact-message {
  color: white;
  font-family: "Righteous", serif;
  font-size: 1.5em;
  font-weight: 500;
  /* text-shadow: 0.03em 0.03em 0 #00e3b3; */
}
.spinner-div {
  display: flex;
  justify-content: flex-end;
}

.modal-body p {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
