.home-container {
 height: 90vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 margin: 0 50px;
 text-align: start;
 color: white;
}
.with-color {
 color: rgb(253, 33, 85);
 font-size: 8vw;
 margin-left: 0;
 font-weight: 900;

 font-family: 'Roboto Slab', serif;
}
.animate {
 color: white;
 font-size: 6vw;
 font-family: 'Roboto Slab', serif;
 margin: 5px 0;
 font-weight: 900;
 transition: transform 0s;
}
.parent {
 display: inline-flex;
 min-width: 20px;
}
.parent:hover .animate {
 color: white;
 font-size: 6vw;
 font-weight: 900;
 color: rgb(8, 253, 216);
 transform: translate3d(2px, -2px, 1px);
}

h3 {
 color: rgb(70, 70, 70);
 font-size: 1.2rem;
 font-family: 'Roboto Slab', serif;
 font-weight: 900;
 margin-left: 5rem;
}

.home-pragraph {
 margin-left: 10%;
 text-align: start;
}

.home-container .buton {
 margin-left: 10%;
}
