#pl {
  width: 100vw;
  height: 100vh;
  /* background-image: url("/assets/pl.jpg"); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#pl h1 {
  height: 100vh;
  width: 100vw;
  text-overflow: hidden;
  font-weight: 900;
  font-size: 10rem;
  background-image: url("/assets/pl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.7em;
}
