#project-page {
  height: 100vh;
  width: 90vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards-row {
  margin-top: 2em;
  display: grid;
  grid-gap: 2em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 30%));
}
