#project-page {
  text-align: center;
}
.project-card {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.project-card:hover {
  cursor: pointer;
  opacity: 0.7;
}

.project-card img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.cards-row {
  margin-top: 2em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}
