.work-container {
 width: 95%;
}

.work-row {
 margin-top: 60px;
}
.carousel {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.carousel button {
 border-radius: 50%;
 border: 1px solid rgb(8, 253, 216);
 height: 30px;
 width: 30px;
}
.work-image-column {
 justify-content: center;
 display: flex;
 align-items: center;
}
.work-image-column img {
 border: 2px solid rgb(8, 253, 216);
 max-width: 300px;
}

.work-info-paragraph {
 display: flex;
 align-items: center;
}
.work-container .headline {
 font-size: 4vw;
 text-align: start;
 color: rgb(8, 253, 216);
 font-weight: 900;
 font-family: 'Roboto Slab', serif;
 margin-top: 10px;
}
.harth-paragraph {
 color: white;
 font-size: 1.2rem;
 font-family: 'Roboto Slab', serif;
 font-weight: 550;
 text-align: start;
 margin-left: 10px;
}

.work-image {
 animation: changeBg 15s infinite;
 width: 240px;
 height: 420px;
 border: 1px solid rgb(8, 253, 216);
}
@keyframes changeBg {
 0%,
 100% {
  background-image: url('../../public/assets/work/harth-1.jpg');
 }
 25% {
  background-image: url('../../public/assets/work/harth-2.jpg');
 }
 50% {
  background-image: url('../../public/assets/work/harth-3.jpg');
 }
 75% {
  background-image: url('../../public/assets/work/harth-1.jpg');
 }
}
