.work-row {
  margin: 60px 0;
  position: relative;
  justify-content: center;
}
.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  width: fit-content;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgb(8, 253, 216);
  color: rgb(8, 253, 216);
}
.work-image-column {
  justify-content: center;
  display: flex;
  align-items: center;
}
.work-image-column img {
  border: 1px solid rgb(8, 253, 216);
  max-width: 300px;
}
.work-image {
  justify-content: center;
  display: flex;
  max-height: 50vh;
}
.work-image img {
  /* width: 100%;
 max-width: 35vw; */
  max-height: 50vh;
}

.work-info-paragraph {
  display: flex;
  align-items: center;
}
.work-container .headline {
  font-size: 4vw;
  text-align: start;
  color: rgb(69, 83, 155);
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
}
.harth-paragraph {
  word-wrap: normal;
  color: white;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 550;
  text-align: start;
  margin: 20px 0 5px 0;
}
.modal-header {
  background-color: rgb(24, 24, 24);
  border: none;
  color: rgb(69, 83, 155);
}
.modal-body {
  background-color: rgb(29, 29, 29);
}
.modal-footer {
  background-color: rgb(24, 24, 24);
  border: none;
}
/* .work-image {
 animation: changeBg 15s infinite;
 width: 240px;
 height: 420px;
} */

.link {
  width: 7vw;
  height: 50px;
  background-color: transparent;
  border: none;
  min-width: 150px;
  justify-content: center;
  padding: 0;
  margin: 20px 5px 0 5px;
}
.link-google {
  background-image: url("google-play.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.link-apple {
  background-image: url("app-store.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.link a {
  z-index: -1;
}

a {
  color: rgb(69, 83, 155);
}
