.free {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  background-color: #049172;
  & img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }
  & p {
    margin: 0;
  }
}
/* ////////////////////////////////////////////////////////////////// */

.nav-links {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 10px auto;
}

li {
  display: inline;
  margin-left: 2rem;
}
.active-link {
  color: white;
  text-decoration: underline;
}

li button {
  background-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #00e3b3;
  border: none;
}
li button:hover {
  color: azure;
  cursor: pointer;
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 24px;
  color: #fbb514;
}

@media (max-width: 750px) {
  /* .hamburger {
    display: block;
  } */
  img.record-cover-pause,
  img.record-cover-play {
    right: 2px;
  }
}

audio {
  display: none;
}

img.record-cover-play {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 15s spin infinite linear;
}
img.record-cover-pause {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 3em;
  height: 3em;
  margin: 0;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
