nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5em 16vw;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navlink {
  margin-left: 2rem;
  & a {
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    color: #00e3b3;
    padding: 3px 1em;
  }
  & a:hover {
    color: #000;
  }
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
  font-size: 24px;
  color: #fbb514;
}

/* @media (max-width: 750px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
} */

audio {
  display: none;
}

img.record-cover-play {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: 15s spin infinite linear;
}
img.record-cover-pause {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 3em;
  height: 3em;
  margin: 0;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
