.main-navbar {
 width: 12%;
 height: 100vh;
 justify-items: center;
 align-content: space-between;
 text-align: center;
 flex-direction: column;
 background-color: rgb(24, 24, 24);
 position: fixed;
}
.logo {
 height: 40vh;
 display: flex;
 justify-content: center;
}
.logo h1 {
 /* margin-top: 15px; */
 font-size: 60px;
 color: rgb(253, 33, 85);
}

a {
 text-align: center;
 color: white;
 font-size: 0.85rem;
 text-decoration: none;
 line-height: 40px;
}

a:hover {
 font-size: 0.9rem;
 text-align: center;
 color: rgb(253, 33, 85);
 text-decoration: none;
}

li.nav-item {
 border-bottom: 0.1px solid rgb(29, 29, 29);
 margin-top: 3px;
 font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.logo li {
 border: none;
}
