.App {
 text-align: center;
 height: 100vh;
}
.head {
 display: inline;
 width: 100vh;
 flex-direction: row;
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

.main-content {
 height: 100%;
 /* width: 80%; */
 display: flex;
 text-align: flex-start;
 justify-content: flex-start;
 color: black;
 margin-left: 15vw;
 margin-top: 0;
 margin-bottom: 0;
}
@media (max-width: 800px) {
 .main-content {
  margin: 60px 0 auto 0;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
 }
}
.main-content-hide {
 display: none;
}

.record{
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 50px;
}

.record-cover-play{
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    margin: 0;
    
    border-radius: 50px;
    background-image: url("../public/assets/songs/record.png");
    background-size: contain;
    animation:10s spin infinite linear;
}
.record-cover-pause{
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    margin: 0;
    
    border-radius: 50px;
    background-image: url("../public/assets/songs/record.png");
    background-size: contain;
    /* animation:10s spin infinite linear; */
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.record-btn{
    width: 80px;
    height: 80px;
    margin: 0;
    background-color: transparent;
    border-radius: 50px;
}