.App {
 text-align: center;
}
.head {
 display: inline;
 width: 100vh;
 flex-direction: row;
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

.main-content {
 height: 100vh;
 width: 80%;
 display: flex;
 text-align: flex-start;
 justify-content: flex-start;
 color: black;
 margin-left: 15vh;
 margin-top: 0;
 margin-bottom: 0;
}
@media (max-width: 800px) {
 .main-content {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  text-align: center;
  color: black;
 }
}
.main-content-hide {
 display: none;
}
