html {
  scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  font-family: "Righteous", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #242936;
  color: #fff;
  min-width: 400px;
  position: relative;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  padding: 5vh 5vw;
}
@media (max-width: 750px) {
  section {
    padding: 5vh 5vw;
  }
}

li {
  list-style: none;
}
