html {
  scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  font-family: "Righteous", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #242936;
  color: #fff;
  min-width: 450px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  margin: 10vh 0;
  padding: 5vh 20vw;
}
@media (max-width: 750px) {
  section {
    margin: 10vh 0;
    padding: 5vh 5vw;
  }
}

li {
  list-style: none;
}
input {
  background-color: transparent;
}
.html-snippets {
  color: rgb(70, 70, 70);
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: "Corinthia", cursive;
}

.hide {
  display: none;
}
